nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(7.5px);
    }
    100% {
        transform: translateY(0px);
    }
}
