@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
        url("../fonts/JetBrainsMono.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
::selection {
    color: #5c6370;
}
body {
    background: #1e2127;
    color: #abb2bf;
    font-family: "JetBrains Mono", monospace;
}
a {
    color: #d19a66;
}
a:hover {
    color: #c678dd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    letter-spacing: 1.1px;
    margin: auto;
    max-width: 1000px;
}
nav {
    font-size: large;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
/*IDs and Classes*/
#apage {
    display: none;
}
#title {
    text-align: center;
}
.wave span {
    animation: wave 2s infinite;
    color: #61afef;
    display: table-cell;
}
.wave span:nth-child(2) {
    animation-delay: -0.2s;
}
.wave span:nth-child(3) {
    animation-delay: -0.4s;
}
.wave span:nth-child(4) {
    animation-delay: -0.6s;
}
.wave span:nth-child(5) {
    animation-delay: -0.8s;
}
.wave span:nth-child(6) {
    animation-delay: -1s;
}
.wave span:nth-child(7) {
    animation-delay: -1.2s;
}
.wave span:nth-child(8) {
    animation-delay: -1.4s;
}
